---
type Route = {
  path: string;
  display: string;
  home?: boolean;
};

let routes: Route[] = [
  {
    path: '/',
    display: 'Home',
    home: true,
  },
  {
    path: '/poe-profile',
    display: 'PoE Profile',
  },
  {
    path: '/filters',
    display: 'Filters',
  },
  {
    path: '/order-book',
    display: 'Orders',
  },
];

const baseClasses = `         
          no-underline
          p-4 md:p-3
          basis-0 md:basis-auto
          text-center
          
          border-primary-800 
          border-r-[1px]
          border-t-[1px] md:border-t-0
          md:border-b-[1px]
          md:last:border-r-[1px] 
          md:first:border-l-[1px]
          md:first:rounded-bl-md md:last:rounded-br-md`;

const currentPath = `/${
  Astro.url.pathname
    .split('/')
    .filter((x) => !!x)
    .pop() ?? ('' as string)
}`;
---

<div
  class="fixed bottom-0 md:bottom-auto left-0 md:mx-auto w-full md:w-fit md:inset-x-0 md:top-0 z-10"
>
  <nav aria-label="Navigation" class="flex text-3xl md:text-xl">
    {
      routes.map(({ path, display }) => {
        console.log(path, currentPath);
        return path === currentPath ? (
          <div class={`${baseClasses} text-primary-500 bg-gray-800`}>
            {display}
          </div>
        ) : (
          <a
            href={path}
            class={`${baseClasses} bg-gray-900 hover:text-primary-500 hover:bg-gray-800`}
          >
            {display}
          </a>
        );
      })
    }
  </nav>
</div>
