---
type Route = {
  path: string;
  display: string;
  home?: boolean;
};

let routes: Route[] = [
  {
    path: '/',
    display: 'Home',
    home: true,
  },
  {
    path: '/mechanics',
    display: 'Farm',
  },
  {
    path: '/filters',
    display: 'Filters',
  },
  {
    path: '/order-book',
    display: 'Orders',
  },
];

const baseClasses = `         
          no-underline
          p-4 md:p-3
          basis-0 md:basis-auto
          text-center
          
          border-primary-800 
          border-r-[1px]
          border-t-[1px] md:border-t-0
          md:border-b-[1px]
          md:last:border-r-[1px] 
          md:first:border-l-[1px]
          md:first:rounded-bl-md md:last:rounded-br-md`;

const currentPath = `/${
  Astro.url.pathname
    .split('/')
    .filter((x) => !!x)
    .pop() ?? ('' as string)
}`;
---

<div
  class="fixed top-0 md:bottom-auto md:mx-auto left-0 w-full md:inset-x-0 md:w-fit z-10"
>
  <!-- Hidden checkbox to control the menu state on mobile -->
  <input type="checkbox" id="menu-toggle" class="menu-toggle hidden" />

  <!-- Label for the checkbox (Hamburger Icon) -->
  <label
    for="menu-toggle"
    class="menu-icon block md:hidden px-3 py-1 text-primary-500 cursor-pointer text-5xl z-30 select-none"
  >
    <span class="menu-icon-open">☰</span>
    <span class="menu-icon-close hidden">✕</span>
  </label>

  <nav aria-label="Navigation" class="md:flex md:text-xl text-3xl">
    <!-- Mobile Menu -->
    <div
      class="mobile-menu hidden fixed top-0 left-0 w-full h-full bg-gray-900 flex-col items-start px-3 pt-52 space-y-2 z-20 md:hidden"
    >
      {
        routes.map(({ path, display }) => (
          <a
            href={path}
            class={`w-full ${baseClasses} border-l-[1px] border-b-[1px] ${
              path === currentPath
                ? 'text-primary-500 bg-gray-800'
                : 'bg-gray-900 hover:text-primary-500 hover:bg-gray-800'
            }`}
          >
            {display}
          </a>
        ))
      }
    </div>

    <!-- Desktop Menu -->
    <div class="hidden md:flex">
      {
        routes.map(({ path, display }) =>
          path === currentPath ? (
            <div class={`${baseClasses} text-primary-500 bg-gray-800`}>
              {display}
            </div>
          ) : (
            <a
              href={path}
              class={`${baseClasses} bg-gray-900 hover:text-primary-500 hover:bg-gray-800`}
            >
              {display}
            </a>
          )
        )
      }
    </div>
  </nav>
</div>

<style>
  /* Hide the checkbox */
  .menu-toggle {
    display: none;
  }

  /* Toggle the mobile menu based on checkbox state */
  .menu-toggle:checked ~ nav .mobile-menu {
    display: flex;
  }

  /* Change the hamburger icon to an 'X' when the menu is open */
  .menu-toggle:checked + label .menu-icon-open {
    display: none;
  }
  .menu-toggle:checked + label .menu-icon-close {
    display: inline;
  }

  /* Initially hide the close icon */
  .menu-icon .menu-icon-close {
    display: none;
  }

  /* Position the hamburger icon above the menu */
  .menu-icon {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 30;
  }

  /* Hide mobile menu and hamburger icon on larger screens */
  @media (min-width: 768px) {
    .menu-icon {
      display: none;
    }
    .mobile-menu {
      display: none;
    }
  }
</style>
